.main-page {
    width: 1280px;
    margin: 0 auto;
    text-align: justify;
    font-family: sans-serif;
}

.logo {
    display: inline-block;
    font-size: 80px;
    color: black;
    text-align: left;
    margin: 45px auto;
}
.logo-color {
    color: #4bcaff
}

.header-menu {
    text-align: center;
    background-color: #35444f;
    margin-bottom: 50px;
}

.header-bar-item {
    display: inline-block;
    box-sizing: border-box;
    padding: 24px;
    font-size: 24px;
    color: white;
    border: 1px solid transparent; /* це для того щоб не пригала сторінка при наведенні на меню, так як там є border */
}

.header-bar-item:hover {
    background-color: #222f3a;
    border: 1px solid gray;
}
.nav-left-menu {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 344px;
    font-size: 30px;
    border: 1px solid #495863;

}
.nav-left-menu-item {
    display: block;
    color: #495863;
    padding: 30px 0 30px 44px;
}

.nav-left-menu-item:hover {
    background-color: #dbdbdb;
    color: black;
    text-indent: 1.2em;
}

.main-img  {
    display: inline-block;
    width: 885px;
    border: 1px solid #495863;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 75px;
    line-height: normal;

}
.top-img:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    transition:1s;
}
.main-text {
    width: 100%;
    font-size: 18px;
    line-height: 1.5;
}

.main-text {
    display: inline-block;
}

.main-text-item {
    width: 885px;
    text-align: left;
    margin: 40px 0 40px auto;
}

.footer-menu {
    text-align: center;
    background-color: #b4b7ba;
    margin-bottom: 30px;
}

.footer-menu-item {
    display: inline-block;
    font-size: 26px;
    margin: 22px;
    color: black;

}
.footer-menu-item-c {
    display: inline-block;
    font-size: 26px;
    margin: 22px 0 22px 100px;
    color: black;
}

.footer-menu>a:hover {
    color: blue;
    text-decoration: underline
}


